<div class="home">
  <div class="home-filter">
    <h1>Welcome to Dineout!</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

    <%= link_to "Check our Restaurants", restaurants_path, class: "restaurants-button" %>
  </div>

</div>
