<div class="home">
  <div class="home-filter">
    <%= image_tag('Dineout.png', alt: 'Dineout Logo', class: 'logo') %>


    <%= link_to "Check our Restaurants", restaurants_path, class: "restaurants-button" %>
  </div>

</div>
